h1{
    font-size: 40px;
    text-align: center;
}

body{
    background-color: lightblue;
}

.Scores p{
    display: inline;
    font-size: 30px;
}

#Roll{
    font-size: 180px;
    text-align: center;
    color: blueviolet;
    margin-top: -20px;
    margin-bottom: -40px;
    font-weight: bold;
}

#RollHistory{
    text-align: center;
}

.Options{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.Options button{
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    font-size: 32px;
}

.gameProgressInfo{
    text-align: center;
    display: inline;
    font-size: 30px;
}

.ScoreTurn{
    margin-top: 50px;
}

#progInfo{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 50px;
}

#turnScore{
    margin-top: -20px;
}

#hintButton{
    float: right;
}

#compWinProb{
    text-align: center;
    font-size: 22px;
    margin-top: -15px;
    margin-bottom: -30px;
}

#playerScore{
    margin-left: 71px;
}

#compScore{
    margin-left: 10px;
}

#cwp{
    font-size: 20px;
}

.hint{
    display: flex;
    margin-top: -15px;
    justify-content: center;
}

.hint p{
    margin-left: 49px;
    margin-right: 54px;
}
